.column-layout {
  display: flex;
  flex-direction: column;
}
.master-view-container {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  height: 100%;
}
.row-layout {
  display: flex;
}
.group {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  gap: 1rem;
  overflow: hidden;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-height: 50px;
  flex-grow: 1;
}
.navbar {
  color: var(--ig-surface-500);
  background-color: var(--ig-primary-500);
  height: max-content;
  min-width: min-content;
}
.view-container {
  overflow: auto;
  position: relative;
  flex-grow: 1;
}
.h6 {
  height: max-content;
  min-width: min-content;
}
